<div class="pagination">
<div class="row container-fluid justify-content-start px-0">
  {% if page.has_previous %}
      <div class="col-2">
          <a href="?page={{ page.previous_page_number }}">
     <button type="button" class="btn btn-outline-primary btn-sm">
         < Предыдущая
     </button>
              </a>
      </div>
  {% endif %}
      <div class="col-2">
    <span class="current">
        <p class="text-muted">Страница {{ page.number }} из {{ page.paginator.num_pages }}</p>
    </span>
      </div>
  {% if page.has_next %}
      <div class="col-2 px-0">
          <a href="?page={{ page.next_page_number }}">
     <button type="button" class="btn btn-outline-primary btn-sm">
         Следующая >
     </button>
          </a>
      </div>
  {% endif %}
</div>
</div>