services:
  db:
    image: postgres:17
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - .env
    restart: unless-stopped

  web:
    build: .
    volumes:
      - ./static:/app/staticfiles
      - ./static_blog:/app/static_blog
      - ./media:/app/media
      - ./templates:/app/templates
    env_file:
      - .env
    depends_on:
      - db
    restart: unless-stopped
    command: >
      bash -c "
        python manage.py migrate
        python manage.py runserver 0.0.0.0:8000
      "
    ports:
      - "8888:8000"

volumes:
  postgres_data:
  static:
  media: