services:
  db:
    image: postgres:17
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - .env
    restart: unless-stopped
    networks:
      - nginx-network

  web:
    build: .
    volumes:
      - ./static:/app/staticfiles
      - ./media:/app/media
    env_file:
      - .env
    networks:
      - nginx-network
    depends_on:
      - db
    restart: unless-stopped

  nginx:
    image: nginx:latest
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./static:/static:ro
      - ./media:/media
      - ./nginx/ssl:/etc/nginx/ssl
      - /etc/letsencrypt:/etc/letsencrypt:ro
    ports:
      - "80:8000"
      - "443:443"
    depends_on:
      - web
    networks:
      - nginx-network
    restart: unless-stopped

volumes:
  postgres_data:
  static:
  media: 

networks:
  nginx-network:
    driver: bridge
    attachable: true