services:
  db:
    image: postgres:17
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - .env
    restart: unless-stopped
    networks:
      - nginx-network

  redis:
    image: redis:7-alpine
    volumes:
      - redis_data:/data
    restart: unless-stopped
    networks:
      - nginx-network
    command: redis-server --appendonly yes

  web:
    build: .
    volumes:
      - ./static:/app/static
      - ./static_blog:/app/static_blog
      - ./media:/app/media
      - ./templates:/app/templates
      - ./backups:/backups
    env_file:
      - .env
    networks:
      - nginx-network
    depends_on:
      - db
      - redis
    restart: unless-stopped

  nginx:
    image: nginx:latest
    volumes:
      - /var/www/html:/var/www/html:rw
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./static:/static:ro
      - ./static_blog:/static_blog:ro
      - ./media:/media
      - ./templates:/templates:ro
      - ./nginx/ssl:/etc/nginx/ssl
      - /etc/letsencrypt:/etc/letsencrypt:ro
    ports:
      - "80:8000"
      - "443:443"
    depends_on:
      - web
    networks:
      - nginx-network
    restart: unless-stopped

volumes:
  postgres_data:
  redis_data:
  static:
  media: 

networks:
  nginx-network:
    driver: bridge
    attachable: true