{% load static %}

<h5>Поделиться</h5>
<input class="visually-hidden" id="pageLink" type="text"
       value="{{ request.build_absolute_uri }}">
<div class="row">
    <div class="col-sm-12">
        <button class="btn" type="button">
            <a href="http://vk.com/share.php?url={{ request.build_absolute_uri }}"
               rel="nofollow" style="text-decoration: none" target="_blank">
                <img src="{% static 'img/template/' %}vk.png" width="25px">
            </a>
        </button>
        <button class="btn" type="button">
            <a href="https://t.me/share/url?url={{ request.build_absolute_uri }}&text={{ post.title }}"
               rel="nofollow" style="text-decoration: none" target="_blank">
                <img src="{% static 'img/template/' %}telegram.jpg" width="25px">
            </a>
        </button>
        <button class="btn btn-block" type="button" onclick="myFunction()">
            <img src="{% static 'img/template/' %}link.png" width="25px">
        </button>
    </div>
</div>

<script>
    function myFunction() {
        // Get the text field
        var copyText = document.getElementById("pageLink");

        // Select the text field
        copyText.select();
        copyText.setSelectionRange(0, 99999); // For mobile devices

        // Copy the text inside the text field
        navigator.clipboard.writeText(copyText.value);

        // Alert the copied text
        alert("Copied the link: " + copyText.value);
    }
</script>

