{% load static %}
{% load editor_filters %}

<div class="series-navigation-card {% if is_previous %}series-nav-previous{% else %}series-nav-next{% endif %}">
    <div class="series-nav-content">
        <div class="series-nav-label">
            {% if is_previous %}
                <i class="fa-solid fa-arrow-left"></i> Предыдущая часть
            {% else %}
                Следующая часть <i class="fa-solid fa-arrow-right"></i>
            {% endif %}
        </div>
        <a href="{{ nav_post.get_absolute_url }}" class="series-nav-link">
            <div class="series-nav-card">
                {% if nav_post.cover_image %}
                <div class="series-nav-image">
                    <img src="{{ nav_post.cover_image.url|urlencode }}" alt="{% firstof nav_post.cover_description nav_post.title %}"{% if nav_post.cover_image.width and nav_post.cover_image.height %} width="{{ nav_post.cover_image.width }}" height="{{ nav_post.cover_image.height }}"{% endif %} loading="lazy" decoding="async">
                </div>
                {% endif %}
                <div class="series-nav-info">
                    <div class="series-nav-title">{{ nav_post.title }}</div>
                    <div class="series-nav-meta">
                        <span><i class="fa-regular fa-clock"></i> {{ nav_post.body|reading_time }} мин</span>
                        <span><i class="fa-regular fa-eye"></i> {{ nav_post.views }}</span>
                    </div>
                    <div class="series-nav-description">{{ nav_post.body|first_sentence|truncatechars_whole_words:101 }}</div>
                </div>
            </div>
        </a>
    </div>
</div>

